﻿

<div ng-controller="dashboard as vm">
    <div class="block-area">
        <div class="row col-md-12 ">
            <h3 class="block-title">Registration Form</h3>

            <form role="form" name="frmVariableConfig" novalidate ng-submit="frmVariableConfig.$valid && vm.saveChanges()">
                <div class="control-group">
                    <label class="sr-only">Threshold</label>
                    <input type="text" ng-model="vm.CurrCustomer.Name" name="txtName" class="form-control input-sm " placeholder="Name">
                </div>
                <div class="control-group">
                    <div class="checkbox m-l-5 m-r-10">
                        <label>
                            <span class="checkableBox"><input type="checkbox" name="chkSetThreshold" id="chkSetThreshold" item="variable" toggle-selection="toggleSelection()" bootstrap-check check-validation ng-model="vm.CurrCustomer.SetThreshold"></span>
                            <span>Set Threshold</span>
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <div class="form-group control-group">
                            <span>Logic</span>

                            <select ng-model="vm.CurrCustomer.Logic" name="ddlLogic" class="validate[condRequired[chkSetThreshold]]" bootstrap-dropdown check-validation>
                                <option>Contains</option>
                                <option>Greater Than</option>
                                <option>Less Than</option>
                                <option>Equal To</option>
                            </select>
                        </div>

                    </div>
                    <div class="control-group">
                        <label class="sr-only">Threshold</label>
                        <input type="text" ng-model="vm.CurrCustomer.Threshold" name="txtThreshold" class="form-control input-sm validate[condRequired[chkSetThreshold]]" placeholder="Threshold" check-validation>
                    </div>
                </div>
                <div>
                           <button type="submit" class="btn btn-sm text-right">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>