﻿
<div data-ng-controller="shell as vm" style="height: 100%">
    <div class="clearfix"></div>
    <section id="main" class="content p-relative" role="main">
        <!-- Content -->
        <section id="content" class="container content">
            <!--<div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
                <div data-cc-spinner="vm.spinnerOptions"></div>
                <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
            </div>-->
            <h4 class="page-title">DASHBOARD</h4>

         <!--   <div data-ng-include="'app/layout/icons.html'"></div>-->

            <hr class="whiter" />
            <div data-ng-view ></div>

        </section>
    </section>
</div>


